/* css for dice generator 

FONTS
    font-family: 'Lobster Two', cursive;
    font-family: 'Teko', sans-serif;

COLOURS
    yellow #fcde67   
    neon blue #5bccf6
    black #030e12
    vibrant red #FF5722

    Alternative colors to try:
        #FFC107 bright orange
        #00E676 bright green 
        #2196F3 light blue 
*/

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Teko:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #030e12;
    background-color: #fcde67;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header,
section,
footer {
    display: block;
    text-align: center;
    padding: 10px;
    max-width: 600px;
}

a {
    color: #FF5722;
}

a:hover {
    color: #5bccf6;
}

h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 6rem;
    font-weight: 700;
    font-style: italic;
    color: #FF5722;
    line-height: 6.5rem;
}

h4 {
    font-size: 1.8rem;
    font-weight: 300;
    color: #030e12;
    border: 2px solid;
    padding: 0 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

#instructions {
    background-color: rgba(0, 0, 0, 0);
    color: #030e12;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-family: 'Teko', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}

#instructions:hover {
    color: #5bccf6;
}

.collapsible:after {
    content: '\002B';
    color: #030e12;
    margin-left: 5px;
}

.collapsible.active:after {
    content: "\2212";
}

.collapsible:after:hover {
    color: #5bccf6;
}

.content {
    background-color: #030e12;
    color: #ffffff;
    position: absolute;
    width: 600px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 10px;
}

article {
    max-width: 440px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
}

h5 {
    font-size: 1.4rem;
}

ul {
    list-style-type: none;
    margin: 20px 0 20px 0;
}

#dice-options {
    border: 2px solid;
    margin: 0 auto;
    padding: 10px 20px 20px;
    border-radius: 10px;
    width: 500px;
}

input {
    font-family: 'Teko', sans-serif;
    font-size: 1.4rem;
    padding-left: 10px;
    margin-top: 10px;
    max-width: 60px;
}

input:first-of-type {
    margin-right: 10px;
}

label {
    font-size: 1.4rem;
    padding: 0 5px;
}

label:last-of-type {
    margin-left: 10px;
}

#dice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dice {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    font-weight: 700;
    margin: 5px;
    padding: 20px;
    color: #FF5722;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

#phrase {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 1.4rem;
}

#roll {
    border-radius: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
    padding: 20px 40px;
    background-color: #5bccf6;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#roll:hover {
    color: #ffffff;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-5px);
}

#roll:active {
    background-color: #FF5722;
}

footer {
    font-size: 0.9rem;
    font-weight: 400;
}